.card {
  display: flex;
  max-width: 460px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 40px;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
  text-align: center;
  margin-bottom: 4px;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.buttons > * {
  flex: 1;
}